In [103]:
import pandas as pd

In [104]:
# similar to numpy 1D
pd.Series([1116,12259,65119,16699])

0     1116
1    12259
2    65119
3    16699
dtype: int64

In [105]:
s=pd.Series([1116,12259,65119,16699], index=['Seoul', 'Busan','Incheon','GwangJu'])

In [106]:
s.index

Index(['Seoul', 'Busan', 'Incheon', 'GwangJu'], dtype='object')

In [107]:
s.values

array([ 1116, 12259, 65119, 16699], dtype=int64)

In [108]:
s.name = 'Amount of Farm Product(T)'

In [109]:
s.index.name='Local Area'

In [110]:
s

Local Area
Seoul       1116
Busan      12259
Incheon    65119
GwangJu    16699
Name: Amount of Farm Product(T), dtype: int64

In [111]:
s1=s/1000
s1.name='Amout of Farm Product(kT)'
s1

Local Area
Seoul       1.116
Busan      12.259
Incheon    65.119
GwangJu    16.699
Name: Amout of Farm Product(kT), dtype: float64

In [112]:
(s/4456952*100).round(2)

Local Area
Seoul      0.03
Busan      0.28
Incheon    1.46
GwangJu    0.37
Name: Amount of Farm Product(T), dtype: float64

In [113]:
s

Local Area
Seoul       1116
Busan      12259
Incheon    65119
GwangJu    16699
Name: Amount of Farm Product(T), dtype: int64

In [114]:
s[0], s['Seoul']

(1116, 1116)

In [115]:
s[[0,1]]

Local Area
Seoul     1116
Busan    12259
Name: Amount of Farm Product(T), dtype: int64

In [116]:
s[[1,0]]

Local Area
Busan    12259
Seoul     1116
Name: Amount of Farm Product(T), dtype: int64

In [117]:
s[['Busan','Seoul']]

Local Area
Busan    12259
Seoul     1116
Name: Amount of Farm Product(T), dtype: int64

In [118]:
s[s>10000]

Local Area
Busan      12259
Incheon    65119
GwangJu    16699
Name: Amount of Farm Product(T), dtype: int64

In [119]:
s[(s>10000) & (s<20000)]

Local Area
Busan      12259
GwangJu    16699
Name: Amount of Farm Product(T), dtype: int64

In [120]:
s[(s/4456952*100)>0.5]

Local Area
Incheon    65119
Name: Amount of Farm Product(T), dtype: int64

In [121]:
s[1:3]

Local Area
Busan      12259
Incheon    65119
Name: Amount of Farm Product(T), dtype: int64

In [122]:
s['Busan':'Incheon']

Local Area
Busan      12259
Incheon    65119
Name: Amount of Farm Product(T), dtype: int64

In [123]:
s.Seoul

1116

In [124]:
for key, value in s.items():
    print(key, value)

Seoul 1116
Busan 12259
Incheon 65119
GwangJu 16699

In [125]:
'Seoul' in s

True

In [126]:
'GyungJu' in s

False

In [127]:
1116 in s

False

In [128]:
1116 in s.values

True

In [129]:
data_2021 = pd.Series([1116,12259,65119,16699],index=['Seoul','Busan','Incheon','GwangJu'])
data_2021

Seoul       1116
Busan      12259
Incheon    65119
GwangJu    16699
dtype: int64

In [130]:
data_2020 = pd.Series([628,11075,56013,15695],index=['Seoul','Busan','Incheon','GwangJu'])
data_2020

Seoul        628
Busan      11075
Incheon    56013
GwangJu    15695
dtype: int64

In [131]:
data_2021 - data_2020 

# Since The Key values are matching each other, calculates successfully with dtype: int64

Seoul       488
Busan      1184
Incheon    9106
GwangJu    1004
dtype: int64

In [132]:
data_2020 = pd.Series([628,11075,56013,15695],index=['Seoul','Busan','Incheon','DaeGu'])

In [133]:
data_2021-data_2020

# Since the key values are not matching each other, Print out the Uncalculated value as NaN, which is float64 type
# If Data has NaN, It is impossible to change the data type (float -> int x )

Busan      1184.0
DaeGu         NaN
GwangJu       NaN
Incheon    9106.0
Seoul       488.0
dtype: float64

In [134]:
import numpy as np
type(np.nan)

float

In [135]:
!python --version

Python 3.10.5

In [136]:
d1={'Seoul':1, 'Busan':2,'Incheon':3}
d1

{'Seoul': 1, 'Busan': 2, 'Incheon': 3}

In [137]:
d1={'Seoul':1, 'Busan':2,'Incheon':123453}
d1

{'Seoul': 1, 'Busan': 2, 'Incheon': 123453}

In [138]:
print(data_2020)
print('--------')
print(data_2021)

Seoul        628
Busan      11075
Incheon    56013
DaeGu      15695
dtype: int64
--------
Seoul       1116
Busan      12259
Incheon    65119
GwangJu    16699
dtype: int64

In [139]:
# If key values are not matching, fill those key value = 0
result = data_2021.sub(data_2020,fill_value=0)

In [140]:
# Now can change the data type
result.astype(int)

Busan       1184
DaeGu     -15695
GwangJu    16699
Incheon     9106
Seoul        488
dtype: int32

In [141]:
# Calculate and then change the Nan value to 0|
result2 = data_2021.sub(data_2020)
result2.notnull()

Busan       True
DaeGu      False
GwangJu    False
Incheon     True
Seoul       True
dtype: bool

In [142]:
result2.fillna(0)

Busan      1184.0
DaeGu         0.0
GwangJu       0.0
Incheon    9106.0
Seoul       488.0
dtype: float64

In [143]:
data_2020 = pd.Series([628,11075,56013,15695],index=['Seoul','Busan','Incheon','GwangJu'])

In [144]:
data_2021

Seoul       1116
Busan      12259
Incheon    65119
GwangJu    16699
dtype: int64

In [145]:
# Calculate how much increased compares to last year amount
result3 = ((data_2021-data_2020)/data_2020*100).round(2)
result3

Seoul      77.71
Busan      10.69
Incheon    16.26
GwangJu     6.40
dtype: float64

In [146]:
result3['Seoul']=0
result3

Seoul       0.00
Busan      10.69
Incheon    16.26
GwangJu     6.40
dtype: float64

In [147]:
result3[0]=123
result3

Seoul      123.00
Busan       10.69
Incheon     16.26
GwangJu      6.40
dtype: float64

In [148]:
del result3['Seoul']
result3

Busan      10.69
Incheon    16.26
GwangJu     6.40
dtype: float64

In [149]:
del result3['GwangJu']
result3

Busan      10.69
Incheon    16.26
dtype: float64

In [151]:
result3['Seoul']=77.71
result3

Busan      10.69
Incheon    16.26
Seoul      77.71
dtype: float64

In [152]:
result3['DaeGu']=6.40
result3

Busan      10.69
Incheon    16.26
Seoul      77.71
DaeGu       6.40
dtype: float64