In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [18]:
data = {
'국어' : [80, 90, 70, 50],
'영어' : [90, 50, 60, 100],
'수학' : [70, 100, 50, 70],
'과학' : [30, 50, 80, 80],
}
columns = ['국어', '영어', '수학', '과학']
index = ['철수','영희','길동','슬기']
df = pd.DataFrame(data, index=index, columns=columns)
df

    국어   영어   수학  과학
철수  80   90   70  30
영희  90   50  100  50
길동  70   60   50  80
슬기  50  100   70  80

In [20]:
df['학생 평균'] = df.mean(axis=1)
# df['학생 평균'] = ((df['국어']+df['영어']+df['수학']+df['과학'])/4).round(2)
df.loc['과목별 평균'] = df.mean()
# df.loc['과목별 평균'] = (df.loc['철수'] + df.loc['영희'] + df.loc['길동']+ df.loc['슬기'])/4
df

          국어     영어     수학    과학  학생 평균
철수      80.0   90.0   70.0  30.0   67.5
영희      90.0   50.0  100.0  50.0   72.5
길동      70.0   60.0   50.0  80.0   65.0
슬기      50.0  100.0   70.0  80.0   75.0
과목별 평균  72.5   75.0   72.5  60.0   70.0